@charset "utf-8";

#content {
  background: #ffffff url(../img/info_bg.png) repeat-x;
}

#content h2 {
  background: url(../img/center.png) no-repeat;
  width: 318px;
  height: 120px;
  margin: auto;
  text-indent: -10000px;
}

#content p {
  width: 298px;
  margin: auto;
  padding: 0 10px 10px 10px;
  font-size: 0.8em;
  line-height: 150%;
}

#content ul li a {
  display: block;
  width: auto;
  height: 45px;
  text-indent: -10000px;
  cursor: pointer; /*for Firefox*/
}
