@import './colors.scss';
@import './common.scss';

.my-scss {
  margin: auto; //.myScss라는 클래스에 대한 css 속성
  border: 5px dotted #d5d5d5;
  padding: 5px;

  &:after {
    //.myScss:after
    display: block;
    content: '';
    clear: both;
    float: none;
  }
  .my-scss-box {
    //.myScss .myScssBox
    cursor: pointer;
    float: left;

    //.red 클래스가 .my-scss-box와
  }
}
