@charset "UTF-8";

* {
  font-family: 'Gothic A1', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
.frame {
  margin: 25px auto;
  width: 460px;
}
.logo_b {
  width: 250px;
  height: 50px;
  margin: 30px auto;
}
.logo_s {
  width: 60px;
  height: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.form-group > input {
  width: 460px;
}
input {
  height: 50px;
  border: 1px solid lightgray;
  text-indent: 10px;
  font-size: 15px;
}
input:focus {
  outline: none;
  background-size: 0;
  border: 1px solid #02d05d;
}
.gray {
  color: gray;
}
label {
  margin-top: 15px;
  margin-bottom: 5px;
}
#user_id::placeholder {
  text-align: right;
  color: gray;
}
#user_pw {
  background-image: url('./lock1.png');
  background-position: right;
  background-size: 8%;
  background-repeat: no-repeat;
}
#user_pw_re {
  background-image: url('./lock2.png');
  background-position: right;
  background-size: 8%;
  background-repeat: no-repeat;
}
select {
  border: 1px solid lightgray;
  height: 50px;
  text-indent: 10px;
  appearance: none;
  background-image: url('./arrow.png');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}
